<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/theme.css">

    <title>转录组结题报告</title>
<style>
img.center {
    display: block;
    margin: 0 auto;
}

p.legend{
    text-align: center;
    font-size: 14px;
}
</style>
</head>
<body>
<div class="container-fluid">
    <h3><b>3. lncRNA network分析</b></h3>
<p>
lncRNA和mRNA的联合表达分析是生物调控机制中非常有意义的研究，我们根据mRNAseq及lncRNAseq获得的差异基因分别构建两者的关系网络。如<b>图6.3</b>所示，蓝色圆形表示mRNA，绿色圈代表lncRNA。节点的大小表示节点之间的相互关系的力量，两个节点之间的边代表了基因之间的相互作用。在基因上有更多的边缘，连接到它的基因越多，这个基因在网络中的作用就越重要。
</p>
    <img src="../static/pic/images/figure5.3.png" height="400" width="400" class="center">
<p class="legend"><b>图5.3 &nbsp;  lncRNA与mRNA网络调控图</b></p>



</div>
</body>
</html>