<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/theme.css">

    <title>转录组结题报告</title>
<style>
img.center {
    display: block;
    margin: 0 auto;
}

p.legend{
    text-align: center;
    font-size: 14px;
}
</style>
</head>
<body>

<div class="container-fluid">
<h3><b>2. &nbsp;	生物信息分析流程</b></h3>
测序数据下机之后，我们就可以获得原始测序序列(Sequenced Reads)，在有相关物种参考序列或参考基因组的情况下，我们通过如下(<b>图2</b>)标准流程进行生物信息分析：
<img src="../static/pic/images/figure2.png" height="360" width="610" class="center">
    <p class="legend"><b>图2 &nbsp; 生物信息分析流程</b></p>

<br>
<p style="color:grey">对于上图分析内容，若其存在于合同信息分析内容中，则包含此部分结果；若不存在，则不包含在报告中。</p>
</div>
</body>
</html>