<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/theme.css">

    <title>转录组结题报告</title>
<style>
img.center {
    display: block;
    margin: 0 auto;
}

p.legend{
    text-align: center;
    font-size: 14px;
}
</style>
</head>
<body>
<div class="container-fluid">

<h3><b>2.&nbsp;可变剪接定制分析</b></h3>
    <p>除了常规寻找可变剪接位点外,我们技术团队能够对特定数据集可变剪接事件作进一步数据挖掘和生物学功能探究。具体分析内容请联系销售和技术支持。</p>
     <h4 class="text-primary"><b>&emsp; 以下为可变剪接定制分析示例,具体内容以合同为准。<br></b></h4>
<img src="../static/pic/images/figure6.3.png" height="240" width="400" class="center">
    <p class="legend"><b>图6.3 &nbsp;  Skipping exon splicing功能富集</b></p>
<p></p>
<img src="../static/pic/images/figure6.4.png" height="240" width="400" class="center">
    <p class="legend"><b>图6.4 &nbsp;  可变剪接位点Motif分析</b></p>
<p></p>
</div>

</body>
</html>