<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/theme.css">

    <title>转录组结题报告</title>
<style>
    img.middle{
        display: block;
        margin: 0 auto;

    }
</style>

</head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        <h2><b>转录组RNAseq生物信息分析结题报告</b></h2>
        <p class="center">————数据分析与结果展示</p>
    </div>
`   <table width="100%" border="0" cellpadding="3" cellspacing="0">
    <tr>
        <td width="60%" align="middle">
            <img src="../static/pic/images/main_page_pic.png" height="390" width="520" alt="无法加载首页图片" name="main_page_pic">

        </td>
        <td width="30%" align="left" >
            <p style="text-align:justify"> <b>&emsp;&nbsp;&nbsp; RNA-seq是一种定量分析转录组的高通量测序技术。这种技术可以用来测量基因的表达水平，检测可变剪接，发现新基因和转录本，检测发生在外显子区域的基因突变，检测基因融合等等。相比于传统的芯片杂交技术(microarray)，RNA-seq有着精度更高，应用更广泛的优点。自从2008年首篇文章(Marioni J. C., et al)发表以来，RNA-seq的实验技术已经非常完善，成为一种常规的高通量实验技术，并且已经成为转录组分析的主要工具。</b></p>
        </td>
        <td width="5%">

        </td>
    </tr>
    </table>
</div>



</body>
</html>